*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--base-color: #697f92ff;
	--text-color: #1C1B18;
	--span-color: #fff;
}

.darkmode{
	--base-color: #1C1B18;
	--text-color: #E8F0F7;
	--span-color: #1C1B18;
}

body {
	background-color: var(--base-color);
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.clock {
	font-size: 2em;
	display: flex;
	padding: 50px;
	background-color: var(--text-color);
	gap: 30px;
	border-radius: 20px;
}

.container .clock .kotak{
	background-color: var(--base-color);
	color: var(--text-color);
	padding: 40px;
	border-radius: 20px;
}

.container .clock span{
	display: flex;
	color: var(--span-color);
	justify-content: center;
	align-items: center;
	font-size: 10px;
}

.container .dateKotak{
	display: flex;
	color: var(--text-color);
}

header{
	width: 100%;
	display: flex;
	position: absolute;
	justify-content: flex-end;
}

header button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 21px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--base-color);
}

header button svg{
	fill: var(--text-color);
}

header button svg:last-child{
	display: none;
}

.darkmode header button svg:first-child{
	display: none;
}
.darkmode header button svg:last-child{
	display: block;
}

